pre,
.ec-line,
.copy {
  margin-top: 0px !important;
}

pre,
code {
  font-size: 16px !important;
  background-color: #0f111a !important;
}

p > code {
  color: #ff79c9 !important;
}

p > a {
  text-decoration: none !important;
}

p > a:hover {
  color: #ff79c9 !important;
  text-decoration: none !important;
}

.hero {
  margin-left: 20px;
  margin-right: 20px;
}

[data-page-title] {
  font-weight: 600 !important;
}

.tagline {
  font-size: 2rem !important;
}

:root {
  --sl-font: 'Roboto', sans-serif;
  --sl-sidebar-width: 14rem;
  --sl-color-text: #fafafafa;
  --sl-color-accent-low: #2c230a;
  --sl-color-accent: #ffffff;
  --sl-color-bg-nav: #17181c;
  --sl-color-accent-high: #ffff96;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #b4b6bb;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-bg: #fbfbfbfa;
  --sl-color-text: #17181c;
  --sl-color-accent-low: #dfd6c0;
  --sl-color-accent: #333333;
  --sl-color-accent-high: #ff79c9;
  --sl-color-white: #333333;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}

:root {
  --purple-hsl: 205, 60%, 60%;
  --overlay-blurple: hsla(var(--purple-hsl), 0.4);
}

:root[data-theme='light'] {
  --purple-hsl: 255, 85%, 65%;
}

.site-title {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

p {
  line-height: 1.5;
}

[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

.tagline {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

::selection {
  background-color: #f9a8d4;
  color: rgb(36, 36, 36);
}

/* date page title onl 2.5rem on mobile devices */
@media (max-width: 768px) {
  [data-page-title] {
    font-size: 4rem;
  }

  .tagline {
    font-size: 1.5rem;
  }
}

.card-grid > .card {
  border-radius: 10px;
}

.card > .title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.2;
}

a.action {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
}

a.primary {
  background-image: linear-gradient(45deg, #ff79c9, #ffff96) !important;
}

a.minimal {
  background: -webkit-linear-gradient(45deg, #ff79c9, #ffff96) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/** scrollbar */
*::-webkit-scrollbar {
  height: 0.3rem;
  width: 0rem;
}

*::-webkit-scrollbar-track {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar-thumb {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}
