:root {
  --transparent: rgba(0, 0, 0, 0);
  --overlay-hsl: 205, 60%, 60%;
  --overlay-blurple: hsla(var(--overlay-hsl), 0.4);
  --sl-font: 'Inter', sans-serif;
  --sl-content-margin-inline: auto !important;
  --sl-sidebar-width: 14rem;
  --sl-color-bg-sidebar: unset;
  --sl-color-text: #fafafafa;
  --sl-color-accent-low: #2c230a;
  --sl-color-accent: #ffffff;
  --sl-color-bg-nav: transparent;
  --sl-color-accent-high: #ffff96;
  --sl-color-white: #ffffff;
  --sl-color-accent: #17181c;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #b4b6bb;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
  --code-bg: #222229b3;
  --noise-container-opacity: 0.25;
  --noise-container-bg: transparent;
  --noise-bg-image: url(/background.png);
  --noise-opacity: 0.1;
}

/* Light mode colors. */
:root[data-theme='light'] {
  --overlay-hsl: 205, 60%, 60%;
  --overlay-blurple: hsla(var(--overlay-hsl), 0.25);
  --sl-font: 'Inter', sans-serif;
  --sl-content-margin-inline: auto !important;
  --sl-sidebar-width: 14rem;
  --sl-color-text: #17181c;
  --sl-color-bg-sidebar: unset;
  --sl-color-accent-low: #2c230a;
  --sl-color-accent: #ffffff;
  --sl-color-bg-nav: transparent;
  --sl-color-accent-high: #ffff96;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #b4b6bb;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
  --sl-color-bg: transparent !important;
  --code-bg: #393a34;
  --noise-container-opacity: 0.2;
  --noise-container-bg: white;
  --noise-bg-image: url(/noise.svg);
}

a > svg {
  color: var(--sl-color-text);
}

.noise {
  opacity: 0.1;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  pointer-events: none;
  background-image: var(--noise-bg-image);
}

.noise-container {
  flex: none;
  width: 100%;
  min-height: 100%;
  opacity: var(--noise-container-opacity);
  position: absolute;
  overflow: hidden;
  background-image: var(--noise-container-bg);
}

pre,
code {
  font-size: 15px !important;
  border-radius: 0px 0px 3px 3px !important;
}

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-variation-settings: normal;
  overflow-y: hidden;
}

h1[data-page-title] {
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 1.2;
}

pre,
.ec-line,
.copy {
  border-radius: 6px;
  border-color: unset;
}

a svg {
  width: 1.5rem;
  height: 1.5rem;
}

header {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border-bottom: 1px solid #0f111a14 !important;
}

p > code {
  color: #ff79c9 !important;
}

p > a {
  text-decoration: none !important;
}

p > a:hover {
  color: #ff79c9 !important;
  text-decoration: none !important;
}

.hero {
  margin-left: 20px;
  margin-right: 20px;
}

.sl-flex .actions .primary {
  border-radius: 20px !important;
}

[data-page-title] {
  letter-spacing: 0.02em;
  font-weight: 900 !important;
}

h1[data-page-title] span {
  display: block;
}

.tagline {
  font-size: 2rem !important;
}

.site-title {
  font-family: Inter, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
}

p {
  line-height: 1.5;
}

[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 3rem var(--overlay-blurple));
  height: 100% !important;
  pointer-events: none;
  user-select: none;
}

a.site-title > img {
  pointer-events: none;
  user-select: none;
}

.tagline {
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

::selection {
  background-color: #f9a8d4;
  color: rgb(36, 36, 36);
}

/* date page title onl 2.5rem on mobile devices */
@media (max-width: 768px) {
  .content-panel {
    padding-top: 30px !important;
  }
  div h1[data-page-title] {
    font-size: 3.5rem;
    font-weight: 900;
  }

  [data-has-hero] .hero > img {
    /* width: 50%; */
  }

  .tagline {
    font-size: 1.5rem !important;
  }

  [data-has-hero] .hero > img {
    filter: drop-shadow(0 0 7rem var(--overlay-blurple));
  }
}

.card-grid > .card {
  border-radius: 10px;
}

.card > .title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.2;
}

a.action {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
}

a.primary {
  background-image: linear-gradient(45deg, #f9f9be, #fb8ed0) !important;
}

a.minimal {
  background: -webkit-linear-gradient(45deg, #ff79c9, #ffff96) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
}

:before,
:after {
  --tw-content: '';
}

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-variation-settings: normal;
  overflow-y: hidden;
}

/** scrollbar */
*::-webkit-scrollbar {
  height: 0.3rem;
  width: 0rem;
}

*::-webkit-scrollbar-track {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar-thumb {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}
