@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --breakpoint-xs: 20rem;

  --color-accent-50: #fdf2f8;
  --color-accent-100: #fce7f3;
  --color-accent-200: #ffde60;
  --color-accent-300: #ffde60;
  --color-accent-400: #f472b6;
  --color-accent-500: #ec4899;
  --color-accent-600: #efcb3c;

  --color-gray-50: var(--color-zinc-50);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-950: var(--color-zinc-950);

  --font-serif: Inter, ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-sans: InterVariable, Inter, ui-sans-serif, system-ui, sans-serif;
}
